body {
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

.buttons {
    margin: 25px 0px 25px 0px;
}

#startbtn, #replaybtn {
    background-color: #FFF;
    border-style: dashed;
    border-color: #2F4F4F;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px; 
}

#star1, #star2, #star3, #star4, #star5 {
    background-color: #FFF;
    border-style: dashed;
    border-color: #2F4F4F;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px; 
}

.playerchoices {
    margin: 25px 0px 25px 0px;
}

#rock, #paper, #scissors {
    background-color: #FFF;
    border-style: dashed;
    border-color: #2F4F4F;
    margin: 10px 25px 10px 25px;
    padding: 10px 10px 10px 10px;
}

#comprock, #comppaper, #compscissors {
    background-color: #FFF;
    border-style: dashed;
    border-color: #800000;
    margin: 10px 25px 10px 25px;
    padding: 10px 10px 10px 10px;
}
